body.single-post {
  .content {
    margin-top: $spacer*10;

    @include breakpoint(medium) {
      @include container("wide");
    }
  }

  article {
    header {
      @apply text-dark text-center p-4 rounded;

      h1 {
        @include Montserrat;

        text-transform: uppercase;
        margin-top: 0;
        font-weight: 800;
        font-size: 40px;
        margin-bottom: $spacer;
      }

      time {
        @include Poppins;

        color: $grey-dark;
        border-bottom: 1px solid $pink;
      }
    }
  }

  .entry-content {
    @apply mb-12;
    background: $grey-light;
    border-radius: 5px;
    padding: $spacer*4 $spacer*4;
    overflow: hidden;

    figure.thumbnail {
      display: block;
      height: 250px;
      overflow: hidden;
      margin-left: -4rem;
      margin-right: -4rem;
      margin-top: -4rem;

      img {
        position: relative;
        width: 100%;
        transform: translateY(-20%);
      }
    }

    h2 {
      @apply my-4;
    }

    h3 {
      @apply text-2xl font-semibold mb-4 #{!important};
    }
  }
}
