.banner-marketing {
  display: flex;
  justify-content: space-between;
  margin: $spacer*2 0;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    figure {
      img {
        display: block;
        margin: 0 auto;
      }

      figcaption {
        text-align: center;

        strong {
          color: $pink;
        }
      }
    }
  }
}
