.wp-block-buttons {
  .wp-block-button {
    &__link {
      background: $pink;
      font-size: 14px;
      padding: 12px 25px;
    }
  }

  .is-style-outline {
    .wp-block-button__link {
      border: 2px solid $pink;
      background: $grey-dark;
      color: $white;
    }
  }
}
