.jdgm-carousel-wrapper {
  @include Poppins;

  .jdgm-star {
    &.jdgm--on,
    &.jdgm--half {
      color: $pink;
    }

    &.jdgm--off {
      color: $grey-dark;
    }
  }

  .jdgm-carousel-item__product-title {
    color: $pink;
  }

  .jdgm-all-reviews-rating-wrapper {
    text-align: center !important;
  }

  .jdgm-carousel-item__review-body {
    -webkit-line-clamp: 3 !important;
  }

  .jdgm-carousel-title {
    @include Montserrat;

    text-align: center !important;
    margin-bottom: $spacer;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none !important;
  }

  .jdgm-all-reviews-rating {
    color: $pink;
  }
}
