.newsletter {
  @include Montserrat;

  position: fixed;
  display: none;
  width: 100%;
  z-index: 98;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: rgba(255, 255, 255, 0.01);
    filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  &-content {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $grey-light;
    width: 100%;
    height: auto;
    padding: $spacer*2;

    @include breakpoint(medium) {
      padding: $spacer*4;
      width: auto;
      height: auto;
    }

    &--close {
      position: absolute;
      top: $spacer*2;
      right: $spacer*4;
      padding: 10px 15px;
      outline: none;
      border-radius: 0;
      border: 1px solid $grey-dark;
      background: transparent;
      cursor: pointer;

      @include breakpoint(medium) {
        top: $spacer*2;
        right: $spacer*2;
      }
    }


    > p {
      text-align: center;
      font-size: 16px;
      line-height: 20px;

    }
  }

  .mailpoet_form {
    background: none;
    margin-top: $spacer*2;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
      margin-top: 0;
    }

    form {
      h3{
        @apply text-2xl font-semibold;

      }
      p{
        @apply py-4 text-sm;

        a{
          @apply text-sm
        }
      }

      input{
        &::placeholder{
          @apply text-gray-700;
        }

        &[type="text"]{
          @apply shadow-sm block w-full text-sm border-gray-300 #{!important};
        }
        &[type="email"]{
          @apply shadow-sm block w-full text-sm border-gray-300 #{!important};
        }

        &[type="submit"]{
          @apply shadow-sm block max-w-xs text-sm border-gray-300 #{!important};
        }
      }
    }
  }

}
