.is-style-main {
  @include Montserrat;

  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: $spacer 0;
}

.is-style-classic {
  @include Montserrat;

  margin: $spacer 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}
