.woocommerce-product-gallery {
  @apply float-none w-full lg:w-1/2 lg:pr-6  #{!important};

  &__main {
    position: relative;
    z-index: 1;
    @apply relative z-10 mb-4;

    img {
      @apply rounded-lg;
    }
  }

  &__image {
    @apply mr-2;

    &--thumbs {
      @apply flex overflow-x-scroll pb-0;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      @include breakpoint(medium) {
        @apply flex-wrap overflow-hidden;
      }
      &::-webkit-scrollbar {
        display: none;
      }

    }

    &:last-of-type {
      @apply m-0;
    }

    img {
      @apply rounded-lg h-28 w-28 max-w-none #{!important};
    }
  }
}
