.has-grey-bk-color {
  color: $grey-bk;
}

.has-grey-dark-color {
  color: $grey-dark;
}

.has-grey-light-color {
  color: $grey-light;
}

.has-pink-color {
  color: $pink;
}

.has-grey-dark-background-color {
  background-color: $grey-dark;
}

.has-grey-light-background-color {
  background-color: $grey-light;
}

.has-grey-bk-background-color {
  background-color: $grey-bk;
}

.has-pink-background-color {
  background-color: $pink;
}
