$container: 1140px;

@mixin container-commons() {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @include breakpoint(medium) {
    width: 100%;
  }
}

@mixin container($mode: "normal") {
  $multiplicator: 1;

  @if ($mode == "wide") {
    $multiplicator: 1;
  }

  @if ($mode == "semi") {
    $multiplicator: 1/2;
  }

  @include container-commons();

  max-width: $container * $multiplicator;

  @if ($mode == "full") {
    max-width: none;
    width: 100vw !important;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
