@mixin puce() {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: 0;
    height: 7px;
    transform: translateX(-7px);
    width: 25px;
    opacity: 0.5;
    background: $pink;
    transition: 0.3s;
  }

  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}
